.App {
  text-align: center;
}
.container {
  text-align: center;

  display: flex;
  flex-flow: row wrap;
  width: 850px;

  justify-content: space-around;
  margin-left: 15%;
}

.card {
  width: 200px;
  height: 375px;
  border: 1px solid #636c75;
  margin: 15% 0%;
}
.card-img {
  height: 100px;
  width: 100%;
}
